body {
  font-size: 20px;
  text-align: center;

  /* background-position: 100px 200px; */
}
.background {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.clearWeather {
  background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
}

.rainyWeather {
  background-image: url("https://ak.picdn.net/shutterstock/videos/17816047/thumb/1.jpg");
}

.cloudyWeather {
  background-image: url("https://images.unsplash.com/photo-1534358594138-6955f589fa24?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMGNsb3VkfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
}

/*   https://images.unsplash.com/photo-1534358594138-6955f589fa24?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMGNsb3VkfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80  cloudy */

/* https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg beautiful sunset */

/* https://ak.picdn.net/shutterstock/videos/17816047/thumb/1.jpg  rainy*/

h1,
h2,
p {
  color: #ffffff;
}

.clr {
  clear: both;
}

.left-side {
  display: inline-flex;
  flex-direction: column;
  float: left;
  /* background-color: purple; */
  align-items: baseline;
}

.left-side div {
  padding: 10px 10px 10px 10px;
  width: 100%;
  /* border-bottom: 1px rgba(242, 242, 242, 0.2) solid; */
}

h2 {
  line-height: 0;
}

.box-2 img {
  width: 100px;
  height: 70px;
}

.box-2 {
  background-color: none;
}

/* 
.left-side div.box-1 {
  background-color: pink;
}

.left-side div.box-2 {
  background-color: red;
}

.left-side div.box-3 {
  background-color: blue;
}

.left-side div.box-4 {
  background-color: green;
}

.left-side div.box-5 {
  background-color: orange;
} */

.right-side {
  display: inline-flex;
  flex-direction: column;
  float: right;
  margin-right: 40px;
}

.right-side div {
  padding: 10px 10px 10px 10px;
  /* margin-right: 20px; */
  /* border-bottom: 1px rgba(242, 242, 242, 0.2) solid; */
  /* background-color: rgba(115, 186, 230, 0.2); */
  /* background-image: url("../src/images/wind-icon.png"); */
}

.button {
  color: white;
  background-color: rgba(174, 48, 219, 0.2);
  padding: 10px 32px;
  font-size: 20px;
}

/* 230, 250, 255, */

.bottom {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 150px;
  background-color: none;
}

/* .bottom div {
  padding: 10px 40px 10px 40px; */
/* background: red; */
/* width: 100%; */
/* border-right: 1px rgba(242, 242, 242, 0.2) solid;
  background-color: rgba(115, 186, 230, 0.2);  */
/* } */

.box-10,
.box-11,
.box-12 {
  padding: 10px 40px 30px 40px;
  background-color: none;
}

.box-9 {
  padding: 10px 28px 30px 28px;
  background-color: none;
}

.bottom div:hover {
  box-shadow: 10px 10px 30px rgba(20, 20, 20, 1);
  /* border-right: 1px rgba(242, 242, 242, 0.2) solid; */
  background-color: none;
}

.bottom div:hover p {
  font-size: 20px;
}

.bottom div:hover h1 {
  font-size: 50px;
}

button:hover {
  background-color: rgba(174, 48, 219, 0.5);
}

/* .bottom div.box-9 {
  box-shadow: 10px 10px 15px red;
}

.bottom div.box-10 {
  box-shadow: 10px 10px 15px green;
}

.bottom div.box-11 {
  box-shadow: 10px 10px 15px yellow;
} */

.left-side div h1 {
  font-size: 25px;
  line-height: 0.2;
}

.right-side div h1 {
  font-size: 25px;
  line-height: 0.2;
  text-align: center;
  margin-left: 50px;
}

.left-side div h2 {
  font-size: 40px;
  font-weight: 900;
}

.left-side div p,
.right-side div p,
.bottom div p {
  font-size: 18px;
}

.practice {
  height: 30px;
  width: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.bottom div h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 0.5;
}

div div p div {
  display: inline-block;
}

/* div div p div */
