body {
  background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
  font-size: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: 100px 200px; */
}

/*  */

h1,
p {
  color: #ffffff;
}

.clr {
  clear: both;
}

.left-side {
  display: inline-flex;
  flex-direction: column;
  float: left;
}

.left-side div {
  padding: 10px;
  width: 100%;
  /* border-bottom: 1px rgba(242, 242, 242, 0.2) solid; */
  /* background-color: rgba(115, 186, 230, 0.2); */
}

.right-side {
  display: inline-flex;
  flex-direction: column;
  float: right;
}

.right-side div {
  padding: 10px;
  /* border-bottom: 1px rgba(242, 242, 242, 0.2) solid; */
  /* background-color: rgba(115, 186, 230, 0.2); */
  /* background-image: url("../src/images/wind-icon.png"); */
}

.button {
  color: white;
  background-color: rgba(174, 48, 219, 0.2);
  padding: 10px 32px;
  font-size: 20px;
}

/* 230, 250, 255, */

.bottom {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 20px;
}

.bottom div {
  padding: 27px 70px;
  /* width: 100%; */
  /* border-right: 1px rgba(242, 242, 242, 0.2) solid;
  background-color: rgba(115, 186, 230, 0.2);  */
}

.bottom div:hover {
  box-shadow: 10px 10px 30px rgba(20, 20, 20, 1);
  /* border-right: 1px rgba(242, 242, 242, 0.2) solid; */
  background-color: none;
}

.bottom div:hover p {
  font-size: 20px;
}

.bottom div:hover h1 {
  font-size: 60px;
}

button:hover {
  background-color: rgba(174, 48, 219, 0.5);
}

/* 
.bottom div.box-9 {
  box-shadow: 10px 10px 15px red;
}

.bottom div.box-10 {
  box-shadow: 10px 10px 15px green;
}

.bottom div.box-11 {
  box-shadow: 10px 10px 15px yellow;
} */

.left-side div h1,
.right-side div h1 {
  font-size: 30px;
}

.left-side div p,
.right-side div p,
.bottom div p {
  font-size: 18px;
}

.practice {
  height: 30px;
  width: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.bottom div h1 {
  font-size: 50px;
  font-weight: 900;
}

div div p div {
  display: inline-block;
}
